################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/bin/Debug/net8.0/fr
/Api/bin/Debug/net8.0/it
/Api/bin/Debug/net8.0/ja
